@page "/item/edit/{InventoryItemId:guid?}"
@layout MainLayout
@inject ILogger<CreateEditItem> logger
@inject IInventoryRepository inventoryRepo
@inject NavigationManager NavManager

<h3>New Inventory Item</h3>

@if (!string.IsNullOrEmpty(errorMessage))
{
    <div class="alert alert-danger" role="alert">
   @errorMessage
    </div>
}

@if (showSuccess)
{
    <div class="alert alert-success" role="alert">
   Item successfully added!
    </div>
}

<EditForm Model="NewInventoryItem" OnValidSubmit="Submit" FormName="new-item-form">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <AntiforgeryToken />
    
    <div class="mb-3">
        <label for="name" class="form-label">Name</label>
        <InputText id="name" class="form-control" @bind-Value="NewInventoryItem.Name" />
        <ValidationMessage For="@(() => NewInventoryItem.Name)" />
    </div>
    
    <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <InputTextArea id="description" class="form-control" @bind-Value="NewInventoryItem.Description" rows="3" />
        <ValidationMessage For="@(() => NewInventoryItem.Description)" />
    </div>
    
    <div class="mb-3">
        <label for="partNumber" class="form-label">Part Number</label>
        <InputText id="partNumber" class="form-control" @bind-Value="NewInventoryItem.PartNumber" />
        <ValidationMessage For="@(() => NewInventoryItem.PartNumber)" />
    </div>
    <div class="mb-3">
        <label for="quantityPerUnit" class="form-label">Quantity Per Unit</label>
        <InputNumber id="quantityPerUnit" class="form-control" @bind-Value="NewInventoryItem.QuantityPerUnit" />
        <ValidationMessage For="@(() => NewInventoryItem.QuantityPerUnit)" />
    </div>
    <div class="mb-3">
        <label for="unitName" class="form-label">Unit Name</label>
        <InputText id="unitName" class="form-control" @bind-Value="NewInventoryItem.UnitName" placeholder="Pallets, Boxes, Bicycles"/>
        <ValidationMessage For="@(() => NewInventoryItem.UnitName)" />
    </div>
    
    <table>
        @foreach (var itemProperty in ExistingItemProperties)
        {
            <tr>
                <td>
                    <InputText class="form-control" @bind-Value="itemProperty.PropertyName" placeholder="Property Name" />
                </td>
                <td>
                    <InputText class="form-control" @bind-Value="itemProperty.PropertyValue" placeholder="Property Value" />
                </td>
                <td>
                    <button type="button" class="btn btn-danger" @onclick="() => RemoveExistingProperty(itemProperty)">Remove</button>
                </td>
            </tr>
        }
        @foreach(var itemProperty in NewItemProperties)
        {
            <tr>
                <td>
                    <InputText class="form-control" @bind-Value="itemProperty.PropertyName" placeholder="Property Name" />
                </td>
                <td>
                    <InputText class="form-control" @bind-Value="itemProperty.PropertyValue" placeholder="Property Value" />
                </td>
                <td>
                    <button type="button" class="btn btn-danger" @onclick="() => RemoveNewProperty(itemProperty)">Remove</button>
                </td>
            </tr>
        }
    </table>

    <div class="d-flex gap-2">
        <button type="button" class="btn btn-primary" @onclick="AddProperty">Add Item Property</button>
        <button type="submit" class="btn btn-primary" disabled="@isSubmitting">
        @if (isSubmitting)
         {
            <span class="spinner-border spinner-border-sm me-2" role="status" aria-hidden="true"></span>
            <span>Saving...</span>
         }
        else
        {
            <span>Save Item</span>
        }
        </button>
        <button type="button" class="btn btn-secondary" @onclick="Cancel">Cancel</button>
    </div>
</EditForm>

@code {
    [SupplyParameterFromForm(FormName = "new-item-form")]
    private InventoryItem NewInventoryItem { get; set; } = new InventoryItem();
    [Parameter]
    public Guid? InventoryItemId { get; set; }

    private List<InventoryItemProperty> NewItemProperties { get; set; } = new List<InventoryItemProperty>();
    private List<InventoryItemProperty> ExistingItemProperties { get; set; } = new List<InventoryItemProperty>();

    private bool isSubmitting = false;
    private bool showSuccess = false;
    private string errorMessage = string.Empty;

    private enum FormMode { Edit, New }
    private FormMode CurrentFormMode = FormMode.New;

    protected async override Task OnInitializedAsync()
    {
        if(InventoryItemId.HasValue)
        {
            CurrentFormMode = FormMode.Edit;
            NewInventoryItem = await inventoryRepo.GetInventoryItemByIdAsync(InventoryItemId.Value);

            if(NewInventoryItem == null)          
                NavManager.NavigateTo("/NotFound", forceLoad: true);

            NewInventoryItem!.LamportClock += 1;
            ExistingItemProperties = (await inventoryRepo.GetInventoryItemPropertiesAsync(InventoryItemId.Value))?.ToList() ?? new List<InventoryItemProperty>();
            return;
        }
        // Initialize timestamps
        NewInventoryItem = new InventoryItem();
    }

    private async Task Submit()
    {
        isSubmitting = true;
        errorMessage = string.Empty;
        showSuccess = false;

        try
        {
            // Update
            if(CurrentFormMode == FormMode.Edit)
            {
                try
                {
                    await inventoryRepo.UpdateInventoryItemAsync(NewInventoryItem, ExistingItemProperties.Select(prop => prop.PropertyName).ToArray(), NewItemProperties);
                }
                catch (Exception ex)
                {
                    errorMessage = $"Failed to update the inventory item. {ex.Message}";
                    logger.LogError(errorMessage);
                    return;
                }

                showSuccess = true;
                logger.LogInformation($"Successfully updated inventory item: {NewInventoryItem.Name}", NewInventoryItem.Name);
                // Optionally navigate after a delay
                await Task.Delay(1500);
                NavManager.NavigateTo("/");
                return;
            }

            // Add New
            try
            {
                await inventoryRepo.AddNewInventoryItemAsync(NewInventoryItem, NewItemProperties);
            }
            catch (Exception ex)
            {
                errorMessage = $"Failed to add the inventory item. {ex.Message}";
                logger.LogError(errorMessage);
            }

            showSuccess = true;
            logger.LogInformation($"Successfully added new inventory item: {NewInventoryItem.Name}");

            // Reset form after successful submission
            NewInventoryItem = new InventoryItem();

            // Optionally navigate after a delay
            await Task.Delay(1500);
            NavManager.NavigateTo("/");

        }
        catch (Exception ex)
        {
            errorMessage = $"An error occurred: {ex.Message}";
            logger.LogError(ex, "Error adding inventory item");
        }
        finally
        {
            isSubmitting = false;
        }
    }

    private void AddProperty()
    {
        NewItemProperties.Add(new InventoryItemProperty());
    }

    private void RemoveNewProperty(InventoryItemProperty property)
    {
        NewItemProperties.Remove(property);
    }

    private void RemoveExistingProperty(InventoryItemProperty property)
    {
        ExistingItemProperties.Remove(property);
    }

    private void Cancel()
    {
        NavManager.NavigateTo("/");
    }
}
